#home {
    display: flex;
    min-height: calc(100vh - 91vh);
    position: relative;
    margin-top: -70px;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    z-index: 2;
}

#cta .title {
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span {
    color: #6f8d74;
}

#cta .description {
    font-size: 1.2rem;
}

#banner {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 2;
}

#banner img {
    height: auto;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 30% 30% 10% 20%;
}

.shape {
    background-color: #718a73;
    width: 50%;
    height: 70%;
    position: absolute;
    border-radius: 30% 30% 10% 20%;
    top: 15%;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#after_shape a {
    text-decoration: none;
    color: #1d1d1d;
}

#after_shape {
    font-size: 1.2rem;
    color: #1d1d1d;
    width: 35%;
    margin-top: 950px;
    text-align: start;
    position: absolute;
    left: 60%;
    font-weight: bold;

    display: flex;
    gap: 24px;
}

#btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#btn button {
    box-shadow: none;
}

.btn-wpp {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f8d74;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-wpp i {
    font-size: 20px;
    color: #ffffff;
}

.btn-wpp:hover {
    background-color: #90b194;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #after_shape {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: auto;
        position: relative;
        margin-top: 20px;
    }
}