@import url('https://fonts.googleapis.com/css2?family=Inter:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 40px 3.5rem;
    position: sticky;
    top: 0;
    background-color: #eaefe9;
    z-index: 3;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);
}

#navbar {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    margin-bottom: 9px;
    height: 90px;
    width: auto;
    object-fit: cover;
    right: 3.5%;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    font-weight: 500;
    color: #1d1d1dad;
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #6f8d74;
    font-weight: 600;
}

#mobile_btn {
    display: none;
    color: #6f8d74;
}

#mobile_menu {
    display: none;
    padding-top: 10px;
}

@media screen and (max-width: 1170px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .nav_logo {
        right: 25%;
    }
}