@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('navbar.css');
@import url('home.css');
@import url('massagem.css');
@import url('why.css');
@import url('tecnicas.css');
@import url('farmasi.css');
@import url('footer.css');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaefe9;
}

section {
    padding: 28px 3.5rem;
}

.section-title {
    font-family: 'Courgette', sans-serif;
    font-size: 1.563rem;
    color: #6f8d74;
}

.section-subtitle {
    font-size: 1.1875;
}