#why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

#container_tab {
    background-color: #ffffff;
    width: 1300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 12px 4px rgba(0, 0, 0, 0.1);
    gap: 24px;
    margin-top: 32px;
}

.tab-buttons {
    display: flex;
    gap: 18px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: #6f8d74;
    color: #fff;
}

.tab-btn:hover {
    background-color: #6f8d74;
}

.content {
    display: none;
}

.content-title {
    margin-top: 16px;
    color: #fff;
}

.content-description {
    margin-top: 15px;
    color: #fff;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #6f8d74;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

#container_accord {
    display: none;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    width: 133.5%;
    max-width: 500px;
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
    cursor: pointer;
    box-shadow: 0px 10px 12px 4px rgba(0, 0, 0, 0.1);
}

.accordion-btn {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px;
    color:#6f8d74;
}

.accordion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020617;
    font-size: 16px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s;
}

.accordion-content.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

@media screen and (max-width: 1200px) {
    #container_tab {
        width: 1000px;
    }

    #container_accord {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #container_tab {
        display: none;
    }

    #container_accord {
        display: flex;
    }
}